# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea
test.db
main_logging.txt
db_test.py
main_stdout.txt
test_db_logging.txt
test_db_stdout.txt
scratch.py
err.csv
sqlite/test.sql
duplicates from wrk_replica_dr_wsu_weather.csv
lineage of duplicates from wrk_replica_dr_wsu_weather.csv
new scratch.py
test_fx_build_wrk_dr_wsu_weather_stdout.txt
AWN_Data_View_15.csv
sqlite/dl/
sqlite/dr/
sqlite/wrk_330162.db
sqlite/wrk_330159.db
sqlite/wrk_330158.db
sqlite/wrk_330157.db
sqlite/wrk_330153.db
sqlite/wrk_330151.db
sqlite/wrk_330150.db
sqlite/wrk_330146.db
sqlite/wrk_330145.db
sqlite/wrk_330144.db
sqlite/wrk_330141.db
sqlite/wrk_330127.db
sqlite/wrk_330125.db
sqlite/wrk_330121.db
sqlite/wrk_330115.db
sqlite/wrk_330105.db
sqlite/wrk_300254.db
sqlite/wrk_300253.db
sqlite/wrk_300222.db
sqlite/wrk_300221.db
sqlite/wrk_300220.db
sqlite/wrk_300219.db
sqlite/wrk_300218.db
sqlite/wrk_300217.db
sqlite/wrk_300216.db
sqlite/wrk_300215.db
sqlite/wrk_300214.db
sqlite/wrk_300213.db
sqlite/wrk_300212.db
sqlite/wrk_300210.db
sqlite/wrk_300209.db
sqlite/wrk_300208.db
sqlite/wrk_300079.db
sqlite/wrk_300070.db
sqlite/wrk_300068.db
sqlite/wrk_300048.db
sqlite/wrk_300047.db
sqlite/wrk_300046.db
sqlite/wrk_300045.db
sqlite/wrk_300043.db
sqlite/wrk_300038.db
sqlite/wrk_300034.db
sqlite/wrk_300033.db
sqlite/wrk_300032.db
sqlite/wrk_300031.db
sqlite/wrk_300030.db
sqlite/wrk_300029.db
sqlite/wrk_300028.db
sqlite/wrk_810105.db
sqlite/wrk_360001.db
sqlite/wrk_355001.db
sqlite/wrk_344109.db
sqlite/wrk_344108.db
sqlite/wrk_331106.db
sqlite/wrk_330174.db
sqlite/wrk_330173.db
sqlite/wrk_330171.db
sqlite/wrk_330169.db
sqlite/wrk_330168.db
sqlite/wrk_330167.db
sqlite/wrk_330166.db
sqlite/wrk_330165.db
sqlite/wrk_330164.db
sqlite/wrk_330163.db
sqlite/wrk_330040.db
sqlite/wrk_330039.db
sqlite/wrk_330037.db
sqlite/wrk_330036.db
sqlite/wrk_330035.db
sqlite/wrk_330033.db
sqlite/wrk_330030.db
sqlite/wrk_330029.db
sqlite/wrk_330028.db
sqlite/wrk_330027.db
sqlite/wrk_330026.db
sqlite/wrk_330025.db
sqlite/wrk_330024.db
sqlite/wrk_330023.db
sqlite/wrk_330022.db
sqlite/wrk_330021.db
sqlite/wrk_310102.db
sqlite/wrk_310089.db
sqlite/wrk_310077.db
sqlite/wrk_310032.db
sqlite/wrk_310031.db
sqlite/wrk_310029.db
sqlite/wrk_310027.db
sqlite/wrk_310026.db
sqlite/wrk_310025.db
sqlite/wrk_310024.db
sqlite/wrk_310023.db
sqlite/wrk_310022.db
sqlite/wrk_309001.db
sqlite/wrk_300401.db
sqlite/wrk_300301.db
sqlite/wrk_300300.db
sqlite/wrk_300207.db
sqlite/wrk_300206.db
sqlite/wrk_300205.db
sqlite/wrk_300203.db
sqlite/wrk_300202.db
sqlite/wrk_300201.db
sqlite/wrk_300152.db
sqlite/wrk_300143.db
sqlite/wrk_300133.db
sqlite/wrk_300132.db
sqlite/wrk_300130.db
sqlite/wrk_300122.db
sqlite/wrk_300118.db
sqlite/wrk_300117.db
sqlite/wrk_300116.db
sqlite/wrk_300093.db
sqlite/wrk_300027.db
sqlite/wrk_300026.db
sqlite/wrk_300023.db
sqlite/wrk_300021.db
sqlite/wrk_131034.db
sqlite/wrk_110029.db
sqlite/wrk_110023.db
sqlite/wrk_100172.db
sqlite/wrk_100161.db
sqlite/wrk_100148.db
sqlite/wrk_100147.db
sqlite/wrk_100140.db
sqlite/wrk_100139.db
sqlite/wrk_100134.db
sqlite/wrk_100129.db
sqlite/wrk_100128.db
sqlite/wrk_100125.db
sqlite/wrk_100114.db
sqlite/wrk_100113.db
sqlite/wrk_100071.db
sqlite/wrk_100069.db
sqlite/wrk_100067.db
sqlite/wrk_100066.db
sqlite/wrk_100065.db
sqlite/wrk_100064.db
sqlite/wrk_100062.db
sqlite/wrk_100059.db
sqlite/wrk_100039.db
sqlite/wrk_100037.db
sqlite/wrk_100031.db
sqlite/wrk_100025.db
sqlite/wrk_810405.db
sqlite/wrk_810305.db
sqlite/wrk_810205.db
sqlite/wrk_330104.db
sqlite/wrk_330101.db
sqlite/wrk_330100.db
sqlite/wrk_330099.db
sqlite/wrk_330092.db
sqlite/wrk_330078.db
sqlite/wrk_330074.db
sqlite/wrk_330073.db
sqlite/wrk_330063.db
sqlite/wrk_330061.db
sqlite/wrk_330047.db
sqlite/wrk_330046.db
sqlite/wrk_330044.db
sqlite/wrk_330043.db
sqlite/wrk_330042.db
sqlite/wrk_330041.db
sqlite/wrk_320098.db
sqlite/wrk_310143.db
sqlite/wrk_310142.db
sqlite/wrk_310139.db
sqlite/wrk_310138.db
sqlite/wrk_310137.db
sqlite/wrk_310136.db
sqlite/wrk_310135.db
sqlite/wrk_310132.db
sqlite/wrk_310131.db
sqlite/wrk_310126.db
sqlite/wrk_310121.db
sqlite/wrk_310120.db
sqlite/wrk_310112.db
sqlite/wrk_310111.db
sqlite/wrk_310107.db

# Ignoring these tide stations because they don't contain valid data?
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9444090_datum_NAVD.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9444090_datum_STND.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9444900_datum_STND.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9446484_datum_NAVD.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9446484_datum_STND.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9447130_datum_NAVD.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9447130_datum_STND.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9449424_datum_STND.csv
downloaded_data/tide_gauge/tidied_data_nwlon_station_id_9449880_datum_STND.csv
downloaded_data/tide_gauge/nwlon_station_id_9444090_datum_NAVD.csv
downloaded_data/tide_gauge/nwlon_station_id_9444090_datum_STND.csv
downloaded_data/tide_gauge/nwlon_station_id_9444900_datum_NAVD.csv
downloaded_data/tide_gauge/nwlon_station_id_9444900_datum_STND.csv
downloaded_data/tide_gauge/nwlon_station_id_9446484_datum_NAVD.csv
downloaded_data/tide_gauge/nwlon_station_id_9446484_datum_STND.csv
downloaded_data/tide_gauge/nwlon_station_id_9447130_datum_NAVD.csv
downloaded_data/tide_gauge/nwlon_station_id_9447130_datum_STND.csv
downloaded_data/tide_gauge/nwlon_station_id_9449424_datum_NAVD.csv
downloaded_data/tide_gauge/nwlon_station_id_9449424_datum_STND.csv
downloaded_data/tide_gauge/nwlon_station_id_9449880_datum_NAVD.csv
downloaded_data/tide_gauge/nwlon_station_id_9449880_datum_STND.csv

# Ignoring these tide stations because they don't contain valid data?
downloaded_data/streamflow/tidy_data_usgs_streamflow_site_id_12150800.csv
downloaded_data/streamflow/tidy_data_usgs_streamflow_site_id_12186000.csv
downloaded_data/streamflow/tidy_data_usgs_streamflow_site_id_12189500.csv
downloaded_data/streamflow/tidy_data_usgs_streamflow_site_id_12201500.csv

# Ignoring these tide stations because they don't contain valid data?
downloaded_data/snotel/tidy_data_snotel_station_id_1011_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1012_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1068_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1069_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1085_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1104_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1107_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1129_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1159_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_1171_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_352_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_375_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_376_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_418_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_420_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_478_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_502_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_507_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_515_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_553_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_591_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_599_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_606_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_642_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_644_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_648_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_672_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_679_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_681_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_692_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_699_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_702_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_707_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_711_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_728_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_734_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_748_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_776_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_777_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_788_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_791_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_804_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_817_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_824_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_832_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_841_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_863_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_897_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_898_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_899_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_908_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_909_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_910_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_911_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_912_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_928_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_941_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_942_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_943_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_974_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_975_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_984_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_985_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_990_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_998_swe_hx.csv
downloaded_data/snotel/tidy_data_snotel_station_id_999_swe_hx.csv

# Other
run_scratch_logging.txt
run_scratch_stdout.txt
seattle_logging.txt
seattle_stdout.txt
ps_logging.txt
temp station info.csv
downloaded_data/wsu/daylight_savings/330164/330164_2008-01-01.csv
downloaded_data/wsu/daylight_savings/330171/330171_2009-01-01.csv
downloaded_data/wsu/daylight_savings/331106/331106_2011-11-10.csv
reports/Apocalypse Status Board Alt Source.pbix
